@import "tailwindcss";
@import "tw-animate-css";

 
.light body {
  --tile: var(--neutral-100);
}

.dark body {
  --tile: var(--neutral-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tile: var(--neutral-900);
  }
}
/* Gaya dasar untuk scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (jalur scrollbar) */
::-webkit-scrollbar-track {
  background: #111; /* warna latar belakang track */
  border-radius: 8px;
}

/* Thumb (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
  background: #e6007e; /* warna thumb pink gelap */
  border-radius: 8px;
  border: 2px solid #111; /* memberi efek outline */
}

/* Hover efek untuk thumb */
::-webkit-scrollbar-thumb:hover {
  background: #ff3399;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@-moz-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}